<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-grid2 mr-2 ml-1"></i> <span class="font-weight-semibold text-bluedark">Comunidades del
                    Sistema</span></h4>
            <a href="/" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <button id="btnCrear" type="button"
                    class="btn btn-outline btn-sm bg-RukaPro text-RukaPro border-RukaPro d-inline-block">Crear
                    Comunidad</button>
            </div>
        </div>
    </div>
</div>
<!-- /page header -->

<!-- Begin Page Content -->
<div class="content">
    <!-- Filtros -->
    <div class="card border-bottom-RukaPro">
        <div class="card-body border-bottom-info">
            <form autocomplete="off" id='form-buscar'>
                <div class="row row-lg">
                    <div class="col-sm-12 col-lg-12 center-block">
                        <div class="form-group form-material row d-flex justify-content-center">
                            <div class="col-sm-2 ">
                                <label class="col-sm-12 control-label">Nombre Comunidad</label>
                                <input id="nombreComunidadFiltro" class="form-control" name="nombreComunidad"
                                    type='text'>
                            </div>
                            <div class="col-sm-2">
                                <label class="col-sm-12 control-label">Region Comunidad</label>
                                <input id="regionComunidadFiltro" class="form-control" name="regionComunidad"
                                    type='text'>
                            </div>
                            <div class="col-sm-2">
                                <label class="col-sm-12 control-label">Estado</label>
                                <select id="comboEstado" name="estadoComunidad" style="width:100%;"
                                    data-plugin="select2"></select>
                            </div>
                            <div class="col-sm-1">
                                <br />
                                <div class="mt-1">
                                    <button class="btn btn-animate btn-animate-vertical bg-RukaPro form-control"
                                        name="Buscar" type="submit" value="Buscar">
                                        <span>Buscar <i aria-hidden="true" class="fa fa-search"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Contenido -->
    <div class="card border-bottom-RukaPro" id="tabla-panel">
        <a href="#collapseCardOne"
            class="card-header py-2 d-sm-flex text-RukaPro align-items-center justify-content-between mb-4"
            data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardOne">
            <h5 class="m-0 font-weight-bold text-bluedark d-inline-block">Listado de Comunidades</h5>
        </a>
        <div class="card-body border-bottom-info">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover" id="tablaDT" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Region</th>
                            <th>Comuna</th>
                            <th>Ciudad</th>
                            <th>Calle</th>
                            <th>Numero</th>
                            <th width="10%">Estado</th>
                            <th class="th-sm" width="10%">Acciones</th>
                        </tr>
                        </thread>
                    <tbody> </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Inicio Modal-->
<div class="modal fade" id="modal-comunidad">
    <div class="container-fluid">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="">
                    <h4 class="modal-title mb-0" id="modal-titulo"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header bg-secondary text-center"><strong>Información Comunidad</strong></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-6 text-bluedark">
                                    <label>Nombre</label>
                                    <input id="nombreComunidad" type="text" class="form-control">
                                </div>
                                <div class="form-group col-md-6 text-bluedark">
                                    <label>Tipo</label>
                                    <select id="tipoComunidad" data-plugin="select2" class="form-control">
                                        <option value="CONDOMINIO">Condominio</option>
                                        <option value="EDIFICIO">Edificio</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3 text-bluedark">
                                    <label>Tasa de Interes( % )</label>
                                    <input id="tasaInteres" type="text"
                                        class="form-control text-center noPaste soloNumerosConPunto porcentaje"
                                        maxlength="7" placeholder="0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-secondary text-center"><strong>Información de Ubicacion</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-6 text-bluedark">
                                    <label>Region</label>
                                    <select id="regiones" class="form-control" required></select>
                                </div>
                                <div class="form-group col-md-6 text-bluedark">
                                    <label>Comuna</label>
                                    <select id="comunas" class="form-control" required></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 text-bluedark">
                                    <label>Ciudad</label>
                                    <input id="ciudad" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 text-bluedark">
                                    <label>Calle</label>
                                    <input id="calleComunidad" type="text" class="form-control">
                                </div>
                                <div class="form-group col-md-2 text-bluedark">
                                    <label>Número</label>
                                    <input id="numeroComunidad" type="text" class="form-control noPaste soloNumeros"
                                        maxlength="5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-light">
                    <div class="form-group">
                        <button type="button" class="btn btn-success botonAccion"><i
                                class="fa fa-database"></i>&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                                class="fa fa-clone"></i>&nbsp;&nbsp;&nbsp;Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Inicio Modal Contratacion-->
<div class="modal fade" id="modal-contratacion">
    <div class="container-fluid">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="">
                    <h4 class="modal-title mb-0" id="modal-titulo-contratacion"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="card border-bottom-info">
                        <div class="row">
                            <div class="col-sm-12 col-lg-12 center-block">
                                <div class="form-group form-material row d-flex justify-content-center">
                                    <div class="col-sm-3">
                                        <div class="mt-4">
                                            <select id="servicios" style="width:100%;" data-plugin="select2"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="mt-4">
                                            <button id="btnCrearServicio" type="button" data-tipo="ING"
                                                class="btn btn-sm bg-RukaPro text-RukaPro border-RukaPro d-inline-block"><span>Agregar<i
                                                        aria-hidden="true" class="icon-plus22"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-hover" id="tablaDT-servicios" width="100%"
                            cellspacing="0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nombre Servicio</th>
                                    <th>Descripción Servicio</th>
                                    <th>Neto</th>
                                    <th>IVA</th>
                                    <th width="10%">Estado</th>
                                    <th class="th-sm" width="20%">Acciones</th>
                                </tr>
                                </thread>
                            <tbody> </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer bg-light">
                    <div class="form-group">
                        <button type="button" class="btn btn-success botonAccion"><i
                                class="fa fa-database"></i>&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                                class="fa fa-clone"></i>&nbsp;&nbsp;&nbsp;Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script nonce="{{nonce}}">
    'use strict'

    $(document).ready(() => {
        $('#tabla-panel').hide();
        $('[data-toggle="tooltip"]').tooltip();
        estadoSelect2N('#comboEstado');
        servicioSelect2N('#servicios');
        regionesSelect2N('#regiones');
        comunaSelect2N('#comunas');
    });

    $('#regiones').on('select2:select', (e) => {
        $('#comunas').empty()
        comunaSelect2N('#comunas', e.params.data.id)
    });

    $('.modal').on('hidden.bs.modal', () => {
        $('.modal').find("input").val("").removeClass('invalid');
        $('#servicios').val(null).trigger('changes')
    })

    $('#form-buscar').submit((e) => {
        e.preventDefault()
        $.ajax({
            method: "POST",
            url: "/mantenedor/comunidades/buscarComunidadesAll",
            dataType: 'json',
            data: {
                nombreComunidad: $("#nombreComunidadFiltro").val(),
                regionComunidad: $("#regionComunidadFiltro").val(),
                estadoComunidad: $("#comboEstado").val(),
                codigoRol: '{{ user.rol.codigoRol}}',
                usuario: '{{user.usuario.usuario}}'
            },
            beforeSend: loading()
        })
            .done((data) => {
                Swal.close();
                if (data.ok) {
                    renderTable(data.ok)
                    $("#tabla-panel").fadeIn();
                }
                if (data.error) Swal.fire('Error', data.error, 'error');
            })
            .fail((jqXHR, textStatus, errorThrown) => {
                Swal.close();
                console.log("Error al buscar: ", errorMessage(jqXHR, textStatus, errorThrown))
            })

    })

    $("#btnCrear").on('click', () => {
        $('.botonAccion').attr('id', 'agregar');
        $('#modal-titulo').text("Nueva Comunidad").parent().attr('class', 'modal-header bg-RukaPro')
        $('#modal-comunidad').modal('show');
    });

    $(document).on('click', '#agregar', () => {
        let validar = true;
        if ($('#nombreComunidad').val() == "") validar = validarMensaje('#nombreComunidad', 'Ingrese un nombre.', 'i');
        if (parseFloat($('#tasaInteres').val()) > 100) validar = validarMensaje('#tasaInteres', 'Valor no puede ser mayor a 100%.', 'i');
        if (validar) {
            $.ajax({
                method: 'POST',
                dataType: 'json',
                url: "/mantenedor/comunidades/crearComunidad",
                data: {
                    nombreComunidad: $("#nombreComunidad").val(),
                    calleComunidad: $("#calleComunidad").val(),
                    numeroComunidad: $("#numeroComunidad").val(),
                    regionComunidad: $("#regionComunidad").val(),
                    ciudadComunidad: $("#ciudadComunidad").val(),
                    tipoComunidad: $("#tipoComunidad").val()
                },
                beforeSend: loading()
            })
                .done((data) => {
                    Swal.close();
                    if (data.ok) {
                        renderTable(data.ok)
                        Swal.fire('Éxito', 'Comunidad ingresada.', 'success')
                        $('.modal').modal('hide')
                        $("#tabla-panel").fadeIn();
                    }
                    if (data.error) Swal.fire('Error', data.error, 'error');
                })
                .fail((jqXHR, textStatus, errorThrown) => {
                    Swal.close();
                    console.log("Error al crear: ", errorMessage(jqXHR, textStatus, errorThrown))
                })
        }
    });

    $(document).on('click', 'button[name="btnEditar"]', function () {
        let id = $(this).attr("id");
        let row = $('#tablaDT').DataTable().rows().data().toArray().find(e => e.idComunidad == id);

        $('#nombreComunidad').val(row.nombreComunidad);
        $('#tasaInteres').val(row.tasaInteres);
        regionesSelect2N('#regiones', row.regionComunidad);
        comunaSelect2N('#comunas', row.regionComunidad, row.comunaComunidad);
        $('#ciudad').val(row.ciudadComunidad);
        $('#calleComunidad').val(row.calleComunidad);
        $('#numeroComunidad').val(row.numeroComunidad);
        $(`#tipoComunidad option[value="${row.tipoComunidad}"]`).attr("selected", true);

        $('.botonAccion').attr('id', 'editar');
        $('#modal-titulo').text("Editar Comunidad").parent().attr('class', 'modal-header bg-primary')
        $('#modal-comunidad').data('id', id).modal('show');
    });

    $(document).on('click', '#editar', () => {
        let validar = true;
        if ($('#nombreComunidad').val() == "") validar = validarMensaje('#nombreComunidad', 'Ingrese un nombre.', 'i');
        if (parseFloat($('#tasaInteres').val()) > 100) validar = validarMensaje('#tasaInteres', 'Valor no puede ser mayor a 100%.', 'i');
        if (validar) {
            var id = $('#modal-comunidad').data('id')
            $.ajax({
                method: 'PUT',
                dataType: 'json',
                url: "/mantenedor/comunidades/editarComunidad/" + id,
                data: {
                    nombreComunidad: $("#nombreComunidad").val(),
                    calleComunidad: $("#calleComunidad").val(),
                    numeroComunidad: $("#numeroComunidad").val(),
                    regionComunidad: $("#regiones").val(),
                    rcomunaComunidad: $("#comunas").val(),
                    ciudadComunidad: $("#ciudad").val(),
                    tipoComunidad: $("#tipoComunidad").val(),
                    tasaInteres: $('#tasaInteres').val()
                },
                beforeSend: loading()
            })
                .done((data) => {
                    Swal.close();
                    if (data.ok) {
                        editarDT('#tablaDT', id, data.comunidad)
                        Swal.fire('Éxito', data.ok, 'success')
                        $('.modal').modal('hide')
                    }
                    if (data.error) Swal.fire('Error', data.error, 'error')
                })
                .fail((jqXHR, textStatus, errorThrown) => {
                    Swal.close();
                    console.log("Error al editar: ", errorMessage(jqXHR, textStatus, errorThrown))
                })
        }
    });

    $(document).on('click', 'button[name="btnCambiarEstado"]', function () {
        let id = $(this).attr("id");
        var fun = function () {
            $.ajax({
                method: 'GET',
                url: "/mantenedor/comunidades/cambiarEstadoComunidad/" + id,
                dataType: 'json',
                beforeSend: loading()
            })
                .done(function (data) {
                    Swal.close();
                    if (data.ok) {
                        editarDT('#tablaDT', id, data.comunidad);
                        Swal.fire('Éxito', data.ok, 'success');
                        $('.modal').modal('hide');
                    }
                    if (data.error) swalWithBootstrapButtons.fire('Error', data.error, 'error')
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    Swal.close();
                    console.log("Error al cambiar estado: ", errorMessage(jqXHR, textStatus, errorThrown))
                })

        }
        mensajeConfirm(fun, '¿Seguro desea Cambiar el estado de esta Comunidad?', '', 'warning');
    });

    function renderTable(datos) {
        $("#tablaDT").dataTable().fnClearTable();
        $("#tablaDT").dataTable().fnDestroy();
        var columnas = [
            { "data": "" },
            { "data": "nombreComunidad" },
            { "data": "tipoComunidad" },
            { "data": "regionComunidad" },
            { "data": "comunaComunidad" },
            { "data": "ciudadComunidad" },
            { "data": "calleComunidad" },
            { "data": "numeroComunidad" },
            { "data": "estadoComunidad" },
            { "data": "idComunidad" }
        ];

        var columnaDefs = [
            {
                render: function (data, type, row, meta) { return meta.row + 1; },
                className: "text-center",
                targets: 0
            },
            {
                render: function (data, type, row) {
                    let find = regionesYcomunas.regiones.find(e => e.numeroRegion == data)
                    return find ? find.nombreRegion.toUpperCase() : "";
                },
                className: "text-center",
                targets: 3
            },
            {
                render: function (data, type, row) { return labelTipoTabla(data); },
                className: "text-center",
                targets: 8
            },
            {
                render: function (data, type, row) {
                    let iconItem = `<a href='/mantenedor/items/${data}' class='btn btn-default' data-toggle='tooltip' data-original-title='Ver Items' data-trigger='hover'><i class='icon-add text-info fa-lg'></i></a>`;
                    let iconUnidad = `<a href='/mantenedor/unidades/${data}' class='btn btn-default' data-toggle='tooltip' data-original-title='Ver Unidades' data-trigger='hover'><i class='icon-list2 text-info fa-lg'></i></a>`;
                    let iconGastoComun = `<a href='/mantenedor/gastosComunes/${data}' class='btn btn-default' data-toggle='tooltip' data-original-title='Ver Gastos Comunes' data-trigger='hover'><i class='icon-coin-dollar text-success fa-lg'></i></a>`;
                    let iconTrabajador = `<a href='/mantenedor/trabajadores/${data}' class='btn btn-default' data-toggle='tooltip' data-original-title='Ver Trabajadores' data-trigger='hover'><i class='icon-users2 text-success fa-lg'></i></a>`;
                    let iconFondos = `<a href='/mantenedor/fondos/${data}' class='btn btn-default' data-toggle='tooltip' data-original-title='Ver Fondos' data-trigger='hover'><i class='icon-percent text-success fa-lg'></i></a>`;
                    let iconTipoMedidor = `<a href='/mantenedor/tipoMedidores/${data}' class='btn btn-default' data-toggle='tooltip' data-original-title='Ver Tipo Medidores' data-trigger='hover'><i class='icon-meter2 text-info fa-lg'></i></a>`;
                    let iconEditar = `<button id=${data} type='button' class='btn btn-default' name='btnEditar' data-toggle='tooltip' data-original-title='Editar' data-trigger='hover'><i class='icon-pencil text-primary fa-lg' aria-hidden='true'></i></button>`;
                    let iconCambiarEstado = `<button id=${data} type='button' class='btn btn-default' name='btnCambiarEstado' data-toggle='tooltip' data-original-title='Cambiar Estado' data-trigger='hover'><i class='icon-loop3 text-success fa-lg' aria-hidden='true'></i></button>`;
                    let iconServicios = `<button id=${data} type='button' class='btn btn-default' name='btnServicios' data-toggle='tooltip' data-original-title='Ver Servicios' data-trigger='hover'><i class='icon-stack-check text-success fa-lg' aria-hidden='true'></i></button>`;
                    return iconUnidad + iconGastoComun + iconItem + iconTrabajador + iconFondos + iconTipoMedidor + iconEditar + iconCambiarEstado + iconServicios;
                },
                className: "text-center",
                targets: 9
            },
        ];

        var rowId = function (a) { return a.idComunidad }

        createTableData('#tablaDT', datos, columnas, columnaDefs, rowId);
    }

    $(document).on('click', 'button[name="btnServicios"]', function () {
        let id = $(this).attr("id");
        let row = $('#tablaDT').DataTable().rows().data().toArray().find(e => e.idComunidad == id);
        renderTableServicios(row.serviciosxcomunidads)

        $('.botonAccion').attr('id', 'editarServicios');
        $('#modal-titulo-contratacion').text("Editar Servicios").parent().attr('class', 'modal-header bg-primary')
        $('#modal-contratacion').data('id', id).modal('show');
    });

    $(document).on('click', '#btnCrearServicio', () => {
        let idComunidad = $('#modal-contratacion').data('id');
        let idServicio = $('#servicios').val();
        if (idServicio != null) {
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: `/mantenedor/comunidades/agregarServicio/${idComunidad}/${idServicio}`,
                beforeSend: loading()
            })
                .done((data) => {
                    Swal.close();
                    if (data.ok) {
                        editarDT('#tablaDT', idComunidad, data.comunidad)
                        let row = data.comunidad.serviciosxcomunidads.find(e => e.servicio.idServicios == idServicio);
                        agregarDT('#tablaDT-servicios', row);
                    }
                    if (data.error) Swal.fire('Error', data.error, 'error');
                })
                .fail((jqXHR, textStatus, errorThrown) => {
                    Swal.close();
                    console.log("Error al editar: ", errorMessage(jqXHR, textStatus, errorThrown))
                })
        } else Swal.fire('Aviso', 'Seleccione un Servicio.', 'warning')

    });

    $(document).on('click', 'button[name="btnEliminar"]', function () {
        let idServicio = $(this).attr("id");
        let idComunidad = $('#modal-contratacion').data('id');
        Swal.fire({
            title: 'Aviso',
            icon: 'warning',
            text: '¿Seguro desea Eliminar este servicio?',
            inputAttributes: { autocapitalize: 'off' },
            showCancelButton: true,
            confirmButtonText: 'Confirmar',
            cancelButtonText: 'Cancelar',
            showLoaderOnConfirm: true,
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    method: 'GET',
                    dataType: 'json',
                    url: `/mantenedor/comunidades/eliminarServicio/${idComunidad}/${idServicio}`,
                    beforeSend: loading()
                })
                    .done((data) => {
                        Swal.close();
                        if (data.ok) {
                            editarDT('#tablaDT', idComunidad, data.comunidad)
                            let row = $('#tablaDT-servicios').DataTable().rows().data().toArray().find(e => e.servicio.idServicios == idServicio);
                            eliminarDT('#tablaDT-servicios', row.idServiciosxcomunidad)
                            Swal.fire('Aviso', data.ok, 'info')
                        }
                        if (data.error) Swal.fire('Error', data.error, 'error')
                    })
                    .fail((jqXHR, textStatus, errorThrown) => {
                        Swal.close();
                        console.log("Error al editar: ", errorMessage(jqXHR, textStatus, errorThrown))
                    })
            }
        })
    });

    function renderTableServicios(datos) {
        $("#tablaDT-servicios").dataTable().fnClearTable();
        $("#tablaDT-servicios").dataTable().fnDestroy();
        let columnas = [
            { "data": "" },
            { "data": "servicio.nombreServicio" },
            { "data": "servicio.descripcionServicio" },
            { "data": "servicio.neto" },
            { "data": "servicio.iva" },
            { "data": "servicio.estadoServicio" },
            { "data": "servicio.idServicios" }
        ];

        let columnaDefs = [
            {
                render: function (data, type, row, meta) { return meta.row + 1; },
                className: "text-center",
                targets: 0
            },
            {
                render: function (data, type, row) { return formatMoney(data, "CLP"); },
                className: "text-center",
                targets: [3, 4]
            },
            {
                render: function (data, type, row) { return labelTipoTabla(data); },
                className: "text-center",
                targets: 5
            },
            {
                render: function (data, type, row) {
                    let iconRechazar = `<button id=${data}  type='button' class='btn btn-default' name='btnEliminar' data-toggle='tooltip' data-original-title='Eliminar Servicio' data-trigger='hover'><i class='icon-cross2 text-danger fa-lg' aria-hidden='true'></i></button>`;
                    return iconRechazar;
                },
                className: "text-center",
                targets: 6
            },
        ];

        let rowId = function (a) { return a.idServiciosxcomunidad }

        createTableData('#tablaDT-servicios', datos, columnas, columnaDefs, rowId);
    }


</script>